*~
DEADJOE
/.settings
/.buildpath
/.project
.DS_Store
.editorconfig
*.git

# Created by https://www.gitignore.io

### Jekyll ###
_site/
.sass-cache/


### Sass ###
.sass-cache
*.css.map


### Composer ###
composer.phar
vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
