<footer id="service" role="contentinfo">
    <div class="layout-container">
        <ul id="service-links">
            <li><a id="to-top" href="#top">Back to top</a></li>
            <li><a href="https://blog.s9y.org/index.php?serendipity[subpage]=dsgvo_gdpr_privacy">Privacy policy</a></li>
        </ul>

        <p id="supporters">Thanks to <a href="http://www.cityreview.de">Regionalportal</a> and <a href="https://www.aoe.com/">AOE - TYPO3 &amp; Magento Agentur</a> for supporting the s9y project with servers and bandwidth.</p>
    </div>
</footer>
