<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="https://docs.s9y.org/img/s9y-opengraph.jpg">
    <meta property="og:url" content="{{ site.url}}{{ page.url | replace:'index.html',''}}">
    <meta name="twitter:card" content="https://docs.s9y.org/img/s9y-opengraph.jpg">
    <link rel="dns-prefetch" href="https://ajax.googleapis.com">
    <link rel="dns-prefetch" href="https://code.jquery.com">
    <link rel="dns-prefetch" href="https://www.google-analytics.com">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/css/master.css" | prepend: site.baseurl }}">
    <script src="/scripts/modernizr/modernizr.js"></script>
</head>