<nav id="nav-global">
    <div class="layout-container">
        <a id="open-nav" class="nav-toggle" href="#site-nav">Menu</a>

        <ul id="site-nav" class="nav-collapse">
            <li><a href="/index.html">Start</a></li>
            <li><a href="/docs/index.html">Docs</a></li>
            <li><a href="http://blog.s9y.org">Blog</a></li>
            <li><a href="http://board.s9y.org">Forums</a></li>
            <li><a href="http://spartacus.s9y.org/">Plugins</a></li>
            <li><a href="http://spartacus.s9y.org/index.php?mode=template_all">Themes</a></li>
            <li><a href="https://github.com/s9y">GitHub</a></li>
        </ul>
    </div>
</nav>