<nav id="sitemap" class="widget">
    <h3>Sitemap</h3>

    <ul>
        <li><a href="/docs/index.html">Docs</a></li>
        <li><a href="/downloads.html">Downloads</a></li>
        <li><a href="/features.html">Features</a>
        <li><a href="/team.html">Team</a></li>
    </ul>
</nav>

<section id="support" class="widget">
    <h3>Support</h3>

    <ul>
        <li><a href="http://board.s9y.org/">User support forums</a></li>
        <li><a href="https://github.com/s9y/Serendipity/issues">GitHub bug tracker</a></li>
        <li><a href="/docs/contributing/index.html#security-reports-exploits">Report security issues</a></li>
        <li><a href="/docs/contributing/index.html#we-need-your-help">How you can help</a></li>
        <li><a href="/docs/users/hosting.html#commercial-support">Get commercial support</a></li>
    </ul>
</section>