// HOME: FEATURES
// --------------------------------------------------------------------
#featurelist {
    @include grid-box(12, .5rem);
   
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-perspective: 1;
    
    dt {
        -webkit-column-break-after: avoid;
        break-after: avoid;
    }

    dd {
        break-inside: avoid-page;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
    }

    margin-bottom: 3em;
    margin-top: 0;

    img {
        height: 3em;
        width: 5em;
        float: left;
        margin-right: 0.3em;
    }
}
