// HOME: NEWS
// --------------------------------------------------------------------
#news {
    @include grid-box(12, .5rem);

    li {
        list-style-type: none;
    }

    ol {
        padding: 0;
        margin: 0;
    }

    h3 {
        margin-top: 0;
    }
}
